[Unit]
Description=Gunicorn server for stagingottg.live

[Service]
Restart=on-failure
User=ansuresh
WorkingDirectory=/home/elspeth/sites/stagingottg.live
EnvironmentFile=/home/elspeth/sites/stagingottg.live/.env

ExecStart=/home/ansuresh/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    djangonewproject.wsgi:application

[Install]
WantedBy=multi-user.target
